<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>


    <div class="container-account">
        <div class="cont-component" style="align-self: start;">
            <div class="user-info">
                <table  class="table table-striped table-hover" style="flex: 0 1 100%">
                    <tr>
                        <th>Name</th>
                        <td th:text="${info.getName()}"></td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td th:text="${info.getSurname()}"></td>
                    </tr>
                    <tr>
                        <th>Citizenship</th>
                        <td th:text="${info.getCitizenship()}"></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td th:if="${info.getGender() != null}" th:text="${info.getGender().getName()}"></td>
                        <td th:if="${info.getGender() == null}" th:text="null"></td>
                    </tr>
                    <tr>
                        <th>Date of birth</th>
                        <td th:text="${info.getDate_of_birth()}"></td>
                    </tr>
                    <tr>
                        <th>Pass number</th>
                        <td th:text="${info.getPass_num()}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form style="justify-content: center; display: flex" th:action="@{/account}" method="post">
                                <input type="hidden" name="action" th:value="'update'">
                                <button type="submit" class="btn btn-primary my-1" th:text="Update"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="cont-component" style="align-self: start;height: auto;padding: 20px;text-align: center;">
            <div class="hello">
                <h4>Welcome to tomberg Airlines</h4>
            </div>
            <div class="book-button-cont">
                <form style="justify-content: center; display: flex" th:action="@{/account}" method="post">
                    <input type="hidden" name="action" th:value="'booking'">
                    <button type="submit" class="btn btn-primary my-1" name="book_flight">Book flight</button>
                </form>
            </div>
            <div class="homepage-button-cont">
                <button  class="btn btn-primary my-1" th:text="Home" onclick="window.location.href='/homepage'"/>
            </div>
        </div>


        <div class="cont-component flights" style="align-self: start;height: auto;padding: 20px;text-align: center;">
            <div th:if="${flights.isEmpty() != true}" th:each="flight : ${flights}" class="flight">
                <div class="flight-el-b">
                    <div th:text="${flight.getRoute().showRoute()}"></div>
                    <div th:text="'Date: ' + ${flight.datesFlight()}"></div>
                    <div th:text="'Time: ' + ${flight.timesFlight()}"></div>
                </div>
                <div class="flight-el-l">
                    <form enctype="multipart/form-data" style="justify-content: center; display: flex" th:action="@{/account/flight_info}" method="post">
                        <button type="submit" class="btn btn-primary my-1" name="qrContent" th:value="${flight.getId()}">Details</button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary my-1" onclick="window.location.href='/account/all_flights'">Show all flights</button>
            <div th:if="${flights.isEmpty() == true}" class="flight">
                <h4>You have not flights yet</h4>
            </div>
        </div>
    </div>
</body>
</html>