<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/load_airports_from_api.js}"></script>
</head>
<body>
<div class="centrator">
    <form class="form" th:action="@{/account/book_flight}" method="post" th:object="${flight}">
        <div class="form-group">
            <label for="input1">From</label>
            <select class="form-control" name="airport_from" id="input1" onchange="load_airports()" onload="load_airports()">
                <option th:each="airport : ${airports}" th:value="${airport.getAirportCode()}" th:text="${airport.getCountry() + ', ' + airport.getCity() + ' (' + airport.getAirportCode() + ')' }"/>
            </select>
        </div>

        <div class="form-group">
            <label for="input2">To</label>
            <select class="form-control" name="airport_to" id="input2" disabled>
            </select>
        </div>
        <button type="submit" class="btn btn-primary my-1" disabled id="continue">Continue</button>
        <input type="button" onclick="window.location.href='/account'" class="btn btn-primary my-1" value="Cancel">
    </form>
</div>
</body>
</html>