<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tomberg</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 5">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/homepage}">
            <img th:src="@{/img/logo.png}" alt="" width="150" height="150" style="border-radius: 75px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/homepage}">Home</a>
            </div>
            <div class="navbar-nav">
                <a sec:authorize="isAuthenticated()" class="nav-link " th:href="@{/logout}">Log out</a>
                <a sec:authorize="hasRole('ADMIN')" class="nav-link " th:href="@{/admin}">Admin Panel</a>
                <a sec:authorize="isAuthenticated()" class="nav-link " th:href="@{/account}" th:text="${user.getUsername()}"></a>
                <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login}">Log in</a>
                <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/register}">Register</a>
            </div>
        </div>
    </div>
</nav>
<div class="wave-block">
    <svg viewbox="0 0 100 20">
        <defs>
            <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="5%" stop-color="#326384"/>
                <stop offset="95%" stop-color="#123752"/>
            </linearGradient>
            <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                    <animateTransform
                            attributeName="transform"
                            begin="0s"
                            dur="1.5s"
                            type="translate"
                            from="0,0"
                            to="40,0"
                            repeatCount="indefinite" />
                </path>
            </pattern>
        </defs>
        <text text-anchor="middle" x="50" y="15" font-size="10" fill="url(#wave)"  fill-opacity="0.6">tomberg Airlines</text>
        <text text-anchor="middle" x="50" y="15" font-size="10" fill="url(#gradient)" fill-opacity="0.1">tomberg Airlines</text>
    </svg>
</div>

<video autoplay muted loop id="video-bg" style="z-index: 4">
    <source th:src="@{/mp4/homevideo.mp4}" type="video/mp4">
</video>
</body>
</html>