<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select date</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script th:src="@{/js/load_airports_from_api.js}"></script>
</head>
<body onload="load_dates()">
<div class="centrator">
    <span id="from" th:attr="data-from=${from}"></span>
    <span id="to" th:attr="data-to=${to}"></span>
    <form class="form" th:action="@{/account/book_flight}" method="post" th:object="${flight}">
        <div class="form-group row">
            <label for="datepicker" class="col-sm-4 col-form-label">Select date</label>
            <div class="col-sm-8">
                <input type="text" id="datepicker" class="form-control-plaintext border-dark" style="border: 1px solid blue; text-align: center">
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-1" id="continue">Continue</button>
        <input type="button" onclick="window.location.href='/account'" class="btn btn-primary my-1" value="Cancel">
    </form>
</div>
</body>
</html>