<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select baggage</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="centrator">
    <form class="form" th:action="@{/account/book_flight}" method="post">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-center align-items-center">Select baggage</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hand luggage only
                <input type="hidden" name="selected_bag" th:value="${0}">
                <button style="padding: 10px" type="submit" th:text="Select" class="badge badge-primary badge-pill"/>
            </li>

            <li th:each="bag : ${baggs}" class="list-group-item d-flex justify-content-between align-items-center">
                <th:block th:text="${bag.getWeight()} + ' kg (additional fee ' + ${bag.getAdditionalFee()} + '$)'"></th:block>
                <input type="hidden" name="selected_bag" th:value="${bag.getId()}">
                <button style="padding: 10px" type="submit" th:text="Select" class="badge badge-primary badge-pill"/>
            </li>
        </ul>
        <input type="button" onclick="window.location.href='/account'" class="btn btn-primary my-1" value="Cancel">
    </form>
</div>
</body>
</html>